.navbar {
    width: 100%;
    height: 110px;

    display: flex;
    justify-content: space-between;

    padding: 1.5rem 4rem;
}

#nav__img {
    width: 100%;
    height: 110px;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.navbar__logo h2 {
    color: #1c9fa3;
    background-color: #90c9c2;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    z-index: 2;
}
