.service__details {
    width: 300px;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
}

.info__button {
    margin-bottom: 8px;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #171717;
    background: #f4f4f4;
    padding: 8px 16px;
    border: 1px solid #171717;
    font-size: 1rem;
}

.info__button:hover {
    background: #171717;
    color: #f4f4f4;
}

.info__name {
    font-size: 1rem;
    overflow: hidden;
}

.info__price {
    font-weight: bold;
}