main {
  background-color: #b69c7c;
}


.homepage {
  background-color: #e5ddc3;
  max-width: 1300px;
  padding: 1rem;
  font-size: 1.5rem;
  color: #171717;
}
.homescreen__title {
  font-weight: lighter;
}

.homescreen__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 1232px) {
    .homescreen__services {
      grid-template-columns: repeat(2, auto);
    }
}
  
  @media (max-width: 950px) {
    .homescreen__services {
      grid-template-columns: repeat(1, auto);
    }
}